<main>

  <div class="container">

    <div class="column-left">
      <app-sidebar></app-sidebar>
    </div>

    <div class="column-right">

      <!-- CARD 1 -->
      <div class="card">
        <img src="./assets/images/receta1.jpg" alt="Imagen de la tarjeta">
        <div class="card-content">
          <h3>Postres 1</h3>
          <p>Aprende a preparar este rico desayuno con tres simples ingredientes.
            Con estos sencillos pasos podrás disfrutar de este rico y nutritivo platillo</p>
        </div>
      </div>

      <!-- CARD 1 -->
      <div class="card">
        <img src="./assets/images/receta1.jpg" alt="Imagen de la tarjeta">
        <div class="card-content">
          <h3>Postres 2</h3>
          <p>Aprende a preparar este rico desayuno con tres simples ingredientes.
            Con estos sencillos pasos podrás disfrutar de este rico y nutritivo platillo</p>
        </div>
      </div>

      <!-- CARD 1 -->
      <div class="card">
        <img src="./assets/images/receta1.jpg" alt="Imagen de la tarjeta">
        <div class="card-content">
          <h3>Postres 3</h3>
          <p>Aprende a preparar este rico desayuno con tres simples ingredientes.
            Con estos sencillos pasos podrás disfrutar de este rico y nutritivo platillo</p>
        </div>
      </div>


    </div>

  </div>

</main>

