<main>

  <div class="formulario-container">
    <div class="formulario-card">

      <h2>Regístrate y Sé <br> parte de FoodHub</h2>
      <h3>Conviértete en Creador</h3>
      <p>Un creado es un nutricionista, para crear una cuenta <br> debes validar tu código de colegiado.</p>

      <form>
        <label for="nombre">Nombre: *</label>
        <input type="text" placeholder="Ingrese Nombre *" id="nombreInput" required>

        <label for="apellidoPaterno">Apellido Paterno: *</label>
        <input type="text" placeholder="Ingrese Apellido Paterno *" id="apellidoPaternoInput" required>

        <label for="apellidoMaterno">Apellido Materno: *</label>
        <input type="text" placeholder="Ingrese Apellido Materno *" id="apellidoMaternoInput" required>

        <label for="correo">Correo Electrónico: *</label>
        <input type="email" placeholder="Ingrese Correo Electrónico *" id="emailInput" required>

        <label for="contrasena">Contraseña: *</label>
        <input type="password" placeholder="********" id="contrasena" name="contrasena" required>

        <label for="codigoColegiado">Código de Colegiado: *</label>
        <input type="number" placeholder="012345" maxlength="10" id="codigoColegiadoInput" required>
        <button type="submit">Crear cuenta</button>

        <p class="obligatorio-texto">* Todos los campos son obligatorios y deben ser llenados.</p>
      </form>

    </div>

  </div>
</main>
